.resume_overlay{
  background-color: rgba(80,77,98,.2) !important;
}
.border_Edit_able{
  border: solid 1px var(--main-color);
}
.resume_Edit_selected{
  background-color: var(--bg-color) !important;
  cursor: text;
  @extend .border_Edit_able;
}
[data-editable="true"]:hover{
  @extend .border_Edit_able;
}
.editing_Text[contenteditable="true"]::before{
  content:"";
}
.editing_Text:empty:before {
  content:attr(placeholder);
  filter: opacity(0.7);
}
.editing_Text:empty:focus{
  filter: opacity(0.4);

}
.editing_Text:focus{
  outline: none;
}
