@use "../Sections/SectionsStyles/ResumeCustom";

.render-resume-page {
  background-color: white;
  color: black;
}

:root {
  --resume-color: #A300CB;
}

.resume-color-primary {
  color: var(--resume-color);
}

.resume_overlay {
  background-color: rgba(80, 77, 98, .2) !important;
}

.border_Edit_able {
  border-radius: 7px;
  border: solid 1px var(--resume-color);
}

.resume_Edit_selected {
  background-color: white !important;
  cursor: text;
  @extend .border_Edit_able;
}

[data-editable="true"] {
  padding: 5px;
  position: relative;

}

[data-editable="true"]:hover {
  @extend .border_Edit_able;
}

.editing_Text[contenteditable="true"]::before {
  content: "";
}

.editing_Text:empty:before {
  content: attr(placeholder);
  filter: opacity(0.7);
}

.editing_Text:empty:focus {
  filter: opacity(0.4);

}

.editing_Text:focus {
  outline: none;
}

.resume-header {
  position: relative;
  display: flex;
  justify-content: space-between;

  .resume-header-left {
    width: calc(100% - 150px);
  }

  .resume-header-right {
    width: 150px;
  }

}

#large {
  font-size: 1.1rem;

  #header-name {
    font-size: 3rem;
  }

  .small-text {
    font-size: 0.9rem;
  }
}

#small {
  font-size: 0.7rem;

  #header-name {
    font-size: 2rem;
  }

  .small-text {
    font-size: 0.6rem;
  }

  .resume-header-Image {
    width: 90px;
    height: 90px;
  }

}

#left-aria, #right-aria {
  height: fit-content;
}

#header-title {
  color: var(--resume-color);
  margin-bottom: 10px;
}

.resume-header-Image {
  transition: all 500ms ease-in-out;
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center center;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;

  label {
    transition: all 500ms ease-in-out;
    display: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    text-align: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    color: white;
  }

  &:hover {
    label {
      display: flex;
    }
  }
}

.image-curve {
  border-radius: 50%;

  label {
    border-radius: 50%;
  }
}

.solid-main {
  padding: 10px;
  background-color: var(--resume-color);
  border-radius: 50%;
}

.header-contact {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  & > div {
    display: flex;
    width: 50%;
    margin-bottom: 5px;

    div {
      max-width: 50%;
    }

    i {
      color: var(--resume-color);
      margin-right: 5px;
    }
  }

}

#h-email, #h-location {
  div {
    max-width: 90% !important;
  }
}


#left-aria {
  width: 60%;
  padding: 5px;
}

#custom-edit-title {
  padding: 3px;
  border-bottom: solid 3px hsl(var(--n));
}

#right-aria {
  width: 40%;
  padding: 5px;
}

[data-inner-edit ="true"] {
  &:hover {
    border: unset;
  }
}

#custom-edit-desc {
  font-size: 0.9rem;
}

#mainContentEditor {
  display: flex;
}

.mobile {
  @media screen and (max-width: 950px) {
    .render-resume-page {
      width: 100vw;
      background-color: transparent;
      padding: 20px 5px;

    }

    .resume-header {
      flex-direction: column-reverse;
      align-items: center;
    }

    .header-contact {
      flex-direction: column;

      & > div {
        div {
          max-width: 100%;
        }
      }
    }

    #large, #small {
      & div, & p, & h1, & h2, & h3, & h4, & span {
        font-size: 0.5rem;
      }

      font-size: 0.5rem;

      #header-name {
        font-size: 0.8rem;
      }
    }

    .resume-header-Image {
      align-self: center;
    }

    .resume-header-left {
      width: 100%;
      margin-top: 10px;
    }

    .resume-header-right {
      width: 100%;
    }

    .setting-header-hover {
      display: none !important;
    }

    .setting-header-hover-phone {
      display: block !important;
    }
  }

}