.fls_1{
  fill:var(--main-color);
}
.fls_2{
  fill:var(--bg-color);
}
.fls_3{
  fill: var(--premium-color);
}
.fls_4{
  fill: var(--font-color);
}
.stk_1{
  stroke: var(--font-color);
}
.init_icon{
  color:var(--font-color);
}
.main_color{
  color:var(--main-color)
}
.bg_color{
  background-color: var(--bg-color);
}
.content_color{
  background-color: var(--content-color);
}
.stop-c-main{
  stop-color: var(--main-color);
}
.stop-c-premium{
   stop-color: var(--premium-color);
 }