:root{
  --main-color:#1e42ff;
  --premium-color :#f5c148;
}
$body-bg : #0f0f0f;
$main-color : #ff0000;
$text-color : #fff;
$box-shadow : rgba(100,100,111,0.2) 0px 7px 27px 0px;
$header-height : 8rem;

$header-shrink-height : 5rem;
$border-radius : 30px;
$mobile-width : 600px;
$tablet-width : 1025px;
$font-family :'Rubik' ,'Cairo', sans-serif;
