@use "./assets/layout/sass/index" as scss;
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;600&family=Rubik:wght@300;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: scss.$font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color:var(--font-color);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}


::-webkit-scrollbar-track {
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--premium-color);
  border-radius: 3px;
}


.line-cv-animation {
  animation-name: line-cv;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.line-cv-animation:nth-child(2) {
  animation-name: line-cv2;
}
@keyframes line-cv {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(400px);
  }
}
@keyframes line-cv2 {
  0% {
    transform: translateY(400px);
  }
  100% {
    transform: translateY(-100%);
  }
}
